<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273926185446-j0jduuginbfjsbleb8g6le4tvvlpk9ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273926185446-j0jduuginbfjsbleb8g6le4tvvlpk9ij</string>
	<key>API_KEY</key>
	<string>AIzaSyC2DMpvnP8OdzjSZJXlK_4i4U6O__BaIVI</string>
	<key>GCM_SENDER_ID</key>
	<string>273926185446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.Memento</string>
	<key>PROJECT_ID</key>
	<string>memento-804a8</string>
	<key>STORAGE_BUCKET</key>
	<string>memento-804a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273926185446:ios:e6182d359038cbae073627</string>
</dict>
</plist>